@page
@model AssetManagement.Pages.ChangePasswordModel
@{
}
<h1>Change password</h1>
<hr style="border: 1px solid black; width: 100%; margin: 0 auto;">
@if (ViewBag.error != null)
{
    <div style="color:red"><h1>@ViewBag.error</h1></div>
}
<form method="post">
    <table>
        <tr>
            <td>Old password</td>
        </tr>
        <tr>
            <td><input asp-for="@Model.oldPass" type="password" /></td>
        </tr>
        <tr>
            <td>New password</td>
        </tr>
        <tr>
            <td><input asp-for="@Model.newPass" type="password" /></td>
        </tr>
        <tr>
            <td>Enter new password again</td>
        </tr>
        <tr>
            <td><input asp-for="@Model.checkNewPass" type="password" /></td>
        </tr>
        <tr>
            <td><button type="submit" style="background:#F26f21;color:white">Save</button></td>
        </tr>
    </table>
</form>