USE [master]
GO
/****** Object:  Database [Lab01_SE1622]    Script Date: 5/16/2023 7:59:02 AM ******/
CREATE DATABASE [Lab01_SE1622]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lab01_SE1622', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DANGSINH\MSSQL\DATA\Lab01_SE1622.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Lab01_SE1622_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DANGSINH\MSSQL\DATA\Lab01_SE1622_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lab01_SE1622].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lab01_SE1622]
GO
/****** Object:  Table [dbo].[MyStock]    Script Date: 5/16/2023 7:59:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyStock](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[CarName] [varchar](50) NULL,
	[Manufacturer] [varchar](50) NULL,
	[Price] [money] NULL,
	[ReleasedYear] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MyStock] ON 

INSERT [dbo].[MyStock] ([CarID], [CarName], [Manufacturer], [Price], [ReleasedYear]) VALUES (1, N'Accord', N'Honda Motor Company', 24970.0000, 2021)
INSERT [dbo].[MyStock] ([CarID], [CarName], [Manufacturer], [Price], [ReleasedYear]) VALUES (2, N'BMW 8 Series', N'BMW', 8500.0000, 2021)
INSERT [dbo].[MyStock] ([CarID], [CarName], [Manufacturer], [Price], [ReleasedYear]) VALUES (3, N'Clarity', N'Honda Motor Company', 33400.0000, 2021)
SET IDENTITY_INSERT [dbo].[MyStock] OFF
GO
USE [master]
GO
